



.content {
    padding-top: 75px;
    border-top: 25px solid white;
}

table {
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
    margin: 0 auto;
}

tr, td {
    border: 25px solid white;
    text-align: center;
    vertical-align: bottom;
}

img {
    width: 560px;
}